@tailwind base;
@tailwind components;
@tailwind utilities;

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 80%;
  margin: auto;
}

.form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.input-div {
  width: 50%;
}

.textarea {
  width: 100%;
  max-width: 100%;
  border: 1px solid;
  padding: 2px 4px;
  border-radius: 4px;
  margin: 5px 0;
  resize: none;
}


.submit-btn {
  border: 1px solid;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
}